* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #ffffff, #74e5ff, #68caff);
  min-height: 100vh;
}

.min-height {
  min-height: 100vh;
}

.heading {
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.4);
  font-size: 30px;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 700;
  font-style: normal;

}

.calculator-card {
  border: solid 2px;
  max-width: 450px;
  width: 100%;
  padding: 25px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.92);
}

.input-custom {
  border: 2px solid #00b3ff;
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  transition: all 0.3s ease;
}
.input-custom:focus {
  border-color: #ff0000;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
}
.result{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.small-label {
  font-family: 'Trebuchet MS', sans-serif;
  margin-left: 5px;
  font-size: 18px;
  color: #323232;
}
.info-text{
  font-size: 17px;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.gradient-btn {
  background: rgb(214, 0, 0);
  color: white;
  font-weight: 600;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.gradient-btn:hover {
  color: white;
  background: #910000;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.result-box {
  border: solid;
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 40px;
  display: inline-block;
  font-size: 20px;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  font-weight: 600;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #909090;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.male-radio input:checked ~ .checkmark {
  background-color: #2193b0;
}
.female-radio input:checked ~ .checkmark {
  background-color: #e91e63;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-container input:checked ~ .checkmark:after {
  display: block;
}
.radio-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}
#bmiComment{
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.4);
}